<!--
-->

<launch>

	<arg name="sim" default="false"/>
	<param name="use_sim_time" value="true" if="$(arg sim)" />
	<!-- Armadillo IV parameters --> 
	<param name="robot_max_velocity" value="0.6"/>
	<!-- param name="diff_steer_wheel_radius" value="0.159"/ --> <!-- specified directly as parameters to differential_odometry -->
	<!-- param name="diff_steer_wheel_ticks_per_rev" value="625"/--> <!-- specified directly as parameters to differential_odometry -->
	<param name="diff_steer_wheel_distance" value="3.175"/>
	
	<group ns="transforms">
		<node pkg="tf" type="static_transform_publisher" name="imu_link_broadcaster" args="0 0.0 0.8 0 0 0 base_footprint imu_link 20"/>
		<node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0 0 0 0 base_footprint base_link 20"/>
		<node pkg="tf" type="static_transform_publisher" name="laser_row_link_broadcaster" args="0.0 0 0.0 0 0 0 base_footprint laser_row_link 20"/>
		<node pkg="tf" type="static_transform_publisher" name="laser_surface_link_broadcaster" args="0.1 0.0 1.5 3.1415 0 0 base_footprint laser_surface_link 20"/>
	</group>
	
	<group ns="fmSensors" unless="$(arg sim)">
	
		<!-- extract data from messages transmitted by the VectorNav VN-100 IMU -->
		<node pkg="vectornav_vn100" name="imu_node"  type="vectornav_vn100_node" output="screen" respawn="true">
			<param name="vectornav_vn100_sub" value="/fmData/imu_rx"/>
			<param name="imu_pub" value="/fmInformation/imu"/>
			<param name="frame_id" value="imu_link"/>
			<param name="use_enu" value="true"/>
			<param name="covariance_x" value="0.001"/>
			<param name="covariance_y" value="0.001"/>
			<param name="covariance_z" value="0.001"/>
		 </node>
		 
		 <node name="LaserScanner_LMS111" pkg="sick_lms111" type="sick_lms111_node">
			<param name="host" value="10.0.42.75" />
			<param name="topic_id" value="/fmInformation/laser_row" />
			<param name="frame_id" value="/laser_row_link" />
		</node>
	</group>
	
	<group ns="fmProcessors">
		<node name="RowExtractorNode" pkg="row_extractor" type="row_extractor_node" output="screen">
			<param name="loopRate" value="10" />
			<param name="debug" value="true" />
			<param name="synchronous" value="true" />
			
			<param name="rowTopic" value="row_msg" />
			<param name="scanTopic" value="/fmInformation/laser_row" />
			<param name="scanLink" value="/laser_row_link" />
		
			<param name="timeLimit" value="1000" />
		
			<param name="preprocessor/active" value="true" />
			<param name="preprocessor/minimumClearZoneDistance" value="0.5" />
			<param name="preprocessor/maximumClearZoneDistance" value="5" />
			
			<param name="ransac/numberOfRansacTries" value="20" />
			<param name="ransac/numberOfPointsToAcceptLine" value="50" />
			<param name="ransac/distanceFromLineThreshold" value="0.2" />
			<param name="ransac/minumumRowLength" value="0.5" />
		</node>
		
		<!-- calculate odometry based on encoders and IMU yaw axis orientation -->
		<node pkg="differential_odometry" name="differential_odometry" type="differential_odometry_node" output="screen" unless="$(arg sim)" >
			<param name="enc_left_sub" value="/fmInformation/enc_left" />
			<param name="enc_right_sub" value="/fmInformation/enc_right" />
			<param name="imu_sub" value="/fmInformation/imu" />
			<param name="odom_pub" value="/fmKnowledge/encoder_odom" />
			<param name="odom_estimate_frame" value="/odom_combined" />
			<param name="vehicle_frame" value="base_link" />
			<param name="encoder_output" value="absolute" />
			<param name="ticks_per_meter_left" value="-620" />
			<param name="ticks_per_meter_right" value="-620" />
			<param name="max_ticks_per_update" value="200" />
			<param name="yaw_angle_source" value="imu_angular_velocity" />
			<param name="imu_angular_velocity_yaw_axis" value="z" />
		</node>
	</group>

	<group ns="fmDecisionMakers">
		<node pkg="sdu_weeding_trial_2013" name="mission_control" type="simple_mission.py">
    		<param name="deadman_topic" value="/fmSignals/deadman" />
			<param name="cmd_vel_topic" value="/fmSignals/cmd_vel" />
            <param name="max_linear_velocity" value="0.7"/>
            <param name="max_angular_velocity" value="0.4"/>
			<param name="deadband" value="5"/>
			<param name="reduced_range" value="50"/>
			<param name="feedback_topic" value="/fmLib/joy/set_feedback" />
			<param name="joy_topic" value="/fmLib/joy" />
			<param name="status_topic" value="/fmData/state"/>
			<param name="publish_frequency" value="10"/>
		</node>
	</group>

	<group ns="fmExecutors">
		
	</group>

	<group ns="fmControllers" unless="$(arg sim)">
		<node pkg="differential_ifk" name="differential_driver" type="differential_ifk_node" output="screen" >
			<param name="hl_subscriber_topic" value="/fmSignals/cmd_vel"/>
			<param name="ll_publisher_topic_left" value="/fmSignals/cmd_vel_left"/>
			<param name="ll_publisher_topic_right" value="/fmSignals/cmd_vel_right"/>
		</node>
		
		<node pkg="sdu_armadillo4" type="sdu_armadillo4_node" name="roboteq_left" output="screen">
			<param name="cmd_vel_ch1_topic" value="/fmSignals/cmd_vel_left"/>
			<param name="serial_rx_topic" value="/fmData/serial_comm_left_rx" />
			<param name="serial_tx_topic" value="/fmData/serial_comm_left_tx" />
			<param name="deadman_topic" value="/fmSignals/deadman"/>
			<param name="encoder_ch1_topic" value="/fmInformation/encoder_left"/>
			<param name="power_ch1_topic" value="/fmData/power_left"/>
			<param name="status_topic" value="/fmData/status"/>
			<param name="velocity_topic" value="/fmData/velocity_left"/>
			<param name="ticks_per_meter" value="620"/>
			<param name="p_gain" value="20"/>
			<param name="i_gain" value="1"/>
			<param name="d_gain" value="0"/>
			<param name="i_max" value="1"/>
			<param name="max_controller_command" value="120" />
			<param name="anti_windup_percent" value="50"/>
			<param name="closed_loop_operation" value="true"/>
		</node>
	
		<node pkg="sdu_armadillo4" type="sdu_armadillo4_node" name="roboteq_right" output="screen">
			<param name="cmd_vel_ch1_topic" value="/fmSignals/cmd_vel_right"/>
			<param name="serial_rx_topic" value="/fmData/serial_comm_right_rx" />
			<param name="serial_tx_topic" value="/fmData/serial_comm_right_tx" />
			<param name="deadman_topic" value="/fmSignals/deadman"/>
			<param name="encoder_ch1_topic" value="/fmInformation/encoder_right"/>
			<param name="power_ch1_topic" value="/fmData/power_right"/>
			<param name="status_topic" value="/fmData/status"/>
			<param name="velocity_topic" value="/fmData/velocity_right"/>
			<param name="ticks_per_meter" value="620"/>
			<param name="p_gain" value="20"/>
			<param name="i_gain" value="1"/>
			<param name="d_gain" value="0"/>
			<param name="i_max" value="1"/>
			<param name="max_controller_command" value="120" />
			<param name="anti_windup_percent" value="50"/>
			<param name="closed_loop_operation" value="true"/>
		</node>
	</group>

	<group ns="fmLib" unless="$(arg sim)">
		<!-- Wiimote interface -->
		<node pkg="wiimote" type="wiimote_node.py" name="wiimote" respawn="true">
			<!-- param name="fixed_wiimote_address" value="00:1F:32:B3:A2:F3"/ -->	<!-- Kjelds private -->
			<param name="fixed_wiimote_address" value="00:19:1D:73:C2:EF"/>
		
		</node >		

		<!-- serial communication with the Armadillo IV robot -->
		<node pkg="serial_string" type="serial_string_node" name="serial_comm_left" output="screen">
			<param name="publisher_topic" value="/fmData/serial_comm_left_rx" />
			<param name="subscriber_topic" value="/fmData/serial_comm_left_tx" />
			<param name="device" value="/dev/ttyS0" />
			<param name="baudrate" value="115200" />
			<param name="termination_character" value="13" />
		</node>

		<node pkg="serial_string" type="serial_string_node" name="serial_comm_right" output="screen">
			<param name="publisher_topic" value="/fmData/serial_comm_right_rx" />
			<param name="subscriber_topic" value="/fmData/serial_comm_right_tx" />
			<param name="device" value="/dev/ttyS1" />
			<param name="baudrate" value="115200" />
			<param name="termination_character" value="13" />
		</node>
		
		<node pkg="serial_string" type="serial_string_node" name="serial_comm_imu" output="screen">
			<param name="publisher_topic" value="/fmData/imu_rx" />
			<param name="subscriber_topic" value="/fmData/imu_tx" />
			<param name="device" value="/dev/ttyUSB0" />
			<param name="baudrate" value="115200" />
			<param name="termination_character" value="10" />
		</node>
		
		<!-- launch conversion node to convert IntStamped messages to encoder messages -->
		<!-- (this is a temporary fix until we get all encoder messages changed to IntStamped) -->
		<node pkg="int_stamped_to_encoder" name="enc_conversion" type="encoder_converter.py">
			<param name="left_sub" value="/fmInformation/encoder_left" />
			<param name="right_sub" value="/fmInformation/encoder_right" />
			<param name="left_pub" value="/fmInformation/enc_left" />
			<param name="right_pub" value="/fmInformation/enc_right" />
		</node>

	</group>

	<!-- enables communication with the implement -->
	<node name="rosbridge_websocket" pkg="rosbridge_server" type="rosbridge_websocket" output="screen" />
</launch>
