<!--
-->

<launch>

	<arg name="sim" default="false"/>
	<param name="use_sim_time" value="true" if="$(arg sim)" />
	<param name="diff_steer_wheel_radius" value="0.233"/>
	<param name="diff_steer_wheel_ticks_per_rev" value="8192"/>
	<param name="diff_steer_wheel_distance" value="0.8"/>
	<!-- 0.00017867 m per tick -->

	<include file="$(find sdu_sc_faass_meister)/launch/asubot-base.launch" unless="$(arg sim)"/>
	
	<group ns="transforms">
		<node pkg="tf" type="static_transform_publisher" name="imu_link_broadcaster" args="0 0.0 0.8 0 0 0 base_footprint imu_link 20"/>
		<node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0 0 0 0 base_footprint base_link 20"/>
		<node pkg="tf" type="static_transform_publisher" name="laser_row_link_broadcaster" args="0.0 0 0.0 0 0 0 base_footprint laser_row_link 20"/>
		<node pkg="tf" type="static_transform_publisher" name="laser_surface_link_broadcaster" args="0.1 0.0 1.5 3.1415 0 0 base_footprint laser_surface_link 20"/>
	</group>
	
	<group ns="fmSensors" unless="$(arg sim)">
	
		<!-- extract data from messages transmitted by the VectorNav VN-100 IMU -->
		<node pkg="vectornav_vn100" name="imu_node"  type="vectornav_vn100_node" output="screen" respawn="true">
			<param name="vectornav_vn100_sub" value="/fmData/imu_rx"/>
			<param name="imu_pub" value="/fmInformation/imu"/>
			<param name="frame_id" value="imu_link"/>
			<param name="use_enu" value="true"/>
			<param name="covariance_x" value="0.001"/>
			<param name="covariance_y" value="0.001"/>
			<param name="covariance_z" value="0.001"/>
		 </node>
		 
		 <node name="LaserScanner_LMS111" pkg="sick_lms111" type="sick_lms111_node">
			<param name="host" value="10.0.42.75" />
			<param name="topic_id" value="/fmInformation/laser_row" />
			<param name="frame_id" value="/laser_row_link" />
		</node>
	</group>
	
	<group ns="fmProcessors">
		
		<!-- calculate odometry based on encoders and IMU yaw axis orientation -->
		<node pkg="differential_odometry" name="differential_odometry" type="differential_odometry_node" output="screen" unless="$(arg sim)" >
			<param name="enc_left_sub" value="/fmInformation/enc_left" />
			<param name="enc_right_sub" value="/fmInformation/enc_right" />
			<param name="imu_sub" value="/fmInformation/imu" />
			<param name="odom_pub" value="/fmKnowledge/encoder_odom" />
			<param name="odom_estimate_frame" value="/odom_combined" />
			<param name="vehicle_frame" value="base_link" />
			<param name="encoder_output" value="absolute" />
			<param name="ticks_per_meter_left" value="5595.696539952" />
			<param name="ticks_per_meter_right" value="5595.696539952" />
			<param name="max_ticks_per_update" value="10000" />
			<param name="yaw_angle_source" value="imu_angular_velocity" />
			<param name="imu_angular_velocity_yaw_axis" value="z" />
		</node>
	</group>

	<group ns="fmDecisionMakers">
		<node pkg="sdu_sc_faass_meister" name="mission_control" type="faas_row_mission.py">
    		<param name="deadman_topic" value="/fmSignals/deadman" />
			<param name="cmd_vel_topic" value="/fmSignals/cmd_vel" />
            <param name="max_linear_velocity" value="0.7"/>
            <param name="max_angular_velocity" value="0.4"/>
			<param name="deadband" value="5"/>
			<param name="reduced_range" value="50"/>
			<param name="feedback_topic" value="/fmLib/joy/set_feedback" />
			<param name="joy_topic" value="/fmLib/joy" />
			<param name="status_topic" value="/fmData/state"/>
			<param name="publish_frequency" value="10"/>
		</node>
	</group>

	<group ns="fmExecutors">
		<node pkg="action_primitives" name="navigate_row" type="navigate_in_row_simple.py">
		</node>
		
		<node pkg="action_primitives" name="drive_forward" type="drive_forward.py">
		</node>
		
		<node pkg="action_primitives" name="make_turn" type="make_turn.py">
		</node>
		
	</group>

	<group ns="fmLib" unless="$(arg sim)">
		<!-- Wiimote interface -->
		<node pkg="wiimote" type="wiimote_node.py" name="wiimote" respawn="true">
			<!-- param name="fixed_wiimote_address" value="00:1F:32:B3:A2:F3"/ -->	<!-- Kjelds private -->
			<param name="fixed_wiimote_address" value="00:19:1D:73:C2:EF"/>
		
		</node >		
	</group>

</launch>
